<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All chat's</h1>

    <form  type="get"action="/chats/new">
        <button type="submit">new chat</button>
    </form>

  <%    for(let chat of chats){ %>
        <div class="box">
         
            <div class="chat">
            <p>from: <%= chat.from %></p>
            </div>
            <div class="msg">
            <p>msg: <%= chat.msg %></p>
            <form method="get" action="/chats/<%= chat.id %>/edit">
                <button>edit</button>
            </form>
            <br>
            <form method="POST" action="/chats/<%= chat.id %>?_method=DELETE">
                <button>delete</button>
            </form>
            <form action="/chats/<%= chat._id %>"method="GET">
                <button>show</button>
            </form>
            </div>

            <p>resived: <%= chat.to %></p>
    <hr>
    <p><%= chat.created_at.toString().slice(0, 4) %></p>
        </div>
    <% } %>
</body>
</html>

